.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.about-modal {
    padding: 30px;
    min-width: 300px;
    max-width: 450px;

    background-image: url(../images/modal-image.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transform: scale(1);
    transition: transform 250ms var(--animation-function);

    @media screen and (min-width:768px) {
        max-width: 550px;
    }
    @media screen and (min-width:1280px) {
        max-width: 650px;
}
   
    }

    .backdrop.is-hidden .about-modal {
        transform: scale(0.7);
    }
    

.about-modal__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 156%;
    color: var(--text-dark);
    margin-bottom: 15px;

    @media screen and (min-width:768px) {
    font-size: 16px;
    }

}

.about-tech {
    margin: 0 auto;
    border-radius: 15px;
    margin-bottom: 20px;
}

.about-modal-btn {
    margin: 0 auto;
    min-height: 44px;
    min-width: 176px;
    border-radius: 22px;
    background-color: var(--main-corp-color);
    color: #ffffff;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.31;
    display: flex;
    align-items: center;
    justify-content: center;
    
    @media screen and (min-width:768px) {
    font-size: 16px;
}
}