.footer {
    padding-top: 57px;
    padding-bottom: 25px;
    background-color: #FFF5F6;
    
    @media screen and (min-width: 768px) {
        padding-bottom: 18px;
        padding-top: 79px;
    }
    @media screen and (min-width: 1280px) {
        padding-bottom: 10px;
        padding-top: 83px;
 }
}

.footer-content {
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: baseline;
        justify-content: space-between;

}
}

.footer-title {
    max-width: 234px;
    margin-bottom: 43px;

    @media screen and (min-width: 768px) {
        max-width: 340px;
        margin-bottom: 91px;
}
    @media screen and (min-width: 1280px) {
        margin-bottom: 97px;
    }
}

.footer-title__second-text {
    margin-top: 17px;

    font-family: Titan One;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;

    color: var(--second-title-color);

    @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
} 
}

.footer-title__text {
    font-family: Titan One;
    font-size: 34px;
    line-height: 1.48;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: var(--main-corp-color);

    @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.15;
    letter-spacing: 0.06em;
}
}

.social {
    display: flex;
    justify-content: end;

    margin-bottom: 46px;

    @media screen and (min-width: 1280px) {
        margin-bottom: 50px;
 }
}

.social__item {
    &:not(:last-child) {
        margin-right: 28px;
    }
}

.social__link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 32px;
    height: 32px;
    border-radius: 50%;

    background-color: #FEA5BB;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    background-color: var(--main-corp-color);
}
}

.number {
    text-align: right;
    margin-bottom: 43px;
}

.number__text,
.number__tel {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.86;
    text-align: right;

    color: var(--text-dark);

    @media screen and (min-width: 768px) {
        font-size: 14px;
    }
    @media screen and (min-width: 1280px) {
    font-size: 16px;
    letter-spacing: 0.02em;
}
}

.number__tel {
    color: var(--main-corp-color);
}

.border-bottom {
    display: block;
    width: 100vw;
    height: 1px;
    background-color: #E1E1E1;

    margin-bottom: 22px;

    @media screen and (min-width: 768px) {
        margin-bottom: 29px;
}
    @media screen and (min-width: 1280px) {
        margin-bottom: 9px;
 }
}

.copyright {
    margin: auto;
    max-width: 148px;
    text-align: center;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;
    
    color: var(--second-text-color);

    @media screen and (min-width: 768px) {
        line-height: 1.86;
        max-width: 100%;
}
    @media screen and (min-width: 1280px) {
        letter-spacing: 0.02em;
}

}
