.gallery {
  width: 100%;
  height: 100%;
  padding-top: 48px;
  padding-bottom: 0px;
  margin: 0 0 83px 0;
  background-image: linear-gradient(to bottom, #fff5f6 40%, white 60%);
  @media screen and (min-width: 768px) {
    padding-top: 70px;
    padding-bottom: 0px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 69px;
    padding-bottom: 0px;
  }
}
.gallery .container {
  padding-left: 0;
  padding-right: 0;
}
.gallery-pics {
  background-repeat: no-repeat;
  text-align: center;
  width: 100%;
  height: 100%;
}
.gallery-photo {
  width: 100%;
  height: 100%;
}
