.gallery {
  width: 100%;
  height: 100%;
  padding-top: 48px;
  padding-bottom: 0px;
  margin: 0 0 83px 0;
  background-image: linear-gradient(to bottom, #fff5f6 0% 53%, white 53% 100%);
  @media screen and (min-width: 768px) {
    padding-top: 70px;
    padding-bottom: 0px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 69px;
    padding-bottom: 0px;
    background-image: linear-gradient(to bottom, #fff5f6 0% 48%, white 48% 100%);
  }
}
.gallery .container {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}
.gallery-pics {
  background-repeat: no-repeat;
  text-align: center;
  @media screen and(max-width:767px) {
    background-image: url('../images/gallery/gallery-360.jpg');
      }
  @media screen and(min-width:768px) {
    background-image: url('../images/gallery/gallery-768.jpg');
      }
  @media screen and(min-width:1280px) {
background-image: url('../images/gallery/gallery-1280.jpg');
  }
}
.gallery-photo {
  width: 100%;
  height: 100%;
}
