.hero {
  padding-top: 137px;
  padding-bottom: 160px;
  // height: 440px;
  @media screen and (min-width: 768px) {
    padding-top: 15px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 84px;
    padding-bottom: 0;
  }
}
.hero__dg {
  position: relative;
}

.hero__title {
  max-width: 218px;
  font-family: Titan One, sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: calc(30 / 26);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 19px;
  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: calc(25 / 22);
    max-width: 162px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 38px;
    line-height: calc(44 / 38);
    max-width: 277px;
    margin-bottom: 25px;
  }
}
.hero__passion {
  font-size: 48px;
  line-height: calc(46 / 48);
  letter-spacing: 0.04em;
  color: #d41443;
  @media screen and (min-width: 768px) {
    font-size: 34px;
    line-height: calc(31 / 34);
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: calc(52 / 58);
  }
}
.hero__link {
  min-width: 63px;
  height: 24px;
  border-radius: 20px;
  padding: 7px 14px;
  font-weight: normal;
  font-size: 8px;
  line-height: calc(10 / 8);
  color: #ffffff;
  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: calc(18 / 14);
    min-width: 104px;
    height: 40px;
  }
  &.products {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d41443;
    margin-right: 8px;
    &:hover {
      background-color: #c7133e;
    }
  }
  &.made {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: #d41443;
    &:hover {
      background-color: #ecebeb;
    }
  }
}
.bgpicture {
  @media screen and (min-width: 768px) {
    position: relative;
  }
}
.contents {
  // @media screen and (min-width: 768px) {
  //   position: relative;
  // }
}
.hero__link-box {
  display: flex;
  // flex-wrap: wrap;
  // justify-content: center;
  align-items: center;
  height: 24px;
  @media screen and (min-width: 1280px) {
    height: 40px;
  }
  &.products {
    width: 102px;
  }
  &.made {
    width: 138px;
  }
}

.text {
  // position: absolute;
  z-index: 3;
  @media screen and (min-width: 768px) {
    // position: static;
    margin-right: 487px;
    // margin-bottom: 19px;
  }
  @media screen and (min-width: 1280px) {
    margin-right: 699px;
  }
}

.elipse-mob {
  position: absolute;
  right: 0;
  top: 83px;
  z-index: 1;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.icecream {
  position: absolute;
  right: 32px;
  top: 92px;
  z-index: 2;
  @media screen and (min-width: 768px) {
    position: absolute;
    right: 247px;
    top: 31px;
  }
}
.elipse-full {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    top: -31px;
    right: 137px;
    z-index: 1;
  }
}

.text__objects {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: Titan One, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    line-height: calc(32 / 28);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;
    & .cafes,
    & .truck {
      font-family: DM Sans, sans-serif;
      font-weight: 400;
      font-size: 8px;
      line-height: calc(10 / 8);
      color: #ffffff;
      text-transform: initial;
      letter-spacing: 0em;
      @media screen and (min-width: 1280px) {
        font-size: 14px;
        line-height: calc(18 / 14);
      }
    }
  }
  @media screen and (min-width: 1280px) {
    font-size: 46px;
    line-height: calc(53 / 46);
  }
}
.text__objects .cafes {
  margin-bottom: 13px;
}
.ring {
  position: relative;
  z-index: 1;
}

.ring::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  right: -10px;
  top: -2px;
  z-index: -1;
}
.bioeco {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    margin-top: 19px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 56px;
  }
}
.details {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    width: 114px;
    height: 48px;
    font-weight: 400;
    font-size: 8px;
    line-height: calc(12 / 8);
    color: #ffffff;
    margin-top: 66px;
    margin-right: 294px;
  }
  @media screen and (min-width: 1280px) {
    width: 200px;
    height: 78px;
    font-size: 14px;
    line-height: calc(20 / 14);
    margin-top: 112px;
  }
}
.arrow {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    width: 18px;
    height: 18px;
    margin-top: 7px;
  }
  @media screen and (min-width: 1280px) {
    width: 26px;
    height: 26px;
    margin-top: 20px;
  }
}
.tasty {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    margin-top: 38px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 53px;
  }
}
