:root {
    --text-light: #ffffff;
    --text-dark: #000000;
    --main-corp-color: #D41443; 
    --second-title-color: #FFA5BA;
    --second-text-color: #907E82;
    --animation-function: cubic-bezier(0.4, 0, 0.2, 1);
}