:root {
  --text-light: #ffffff;
  --text-dark: #000000;
  --main-corp-color: #d41443;
  --second-title-color: #ffa5ba;
  --second-text-color: #907e82;
  --animation-function: cubic-bezier(0.4, 0, 0.2, 1);
}
