<section class="about about-container" id="how">
    <div class="container ">
        <p class="about__pre-text" data-aos="zoom-in-down" data-aos-duration="1500">tradition and love</p>
        <h2 class="about__title" data-aos="zoom-in-down" data-aos-duration="1500">how it’s made?</h2>

        <div class="about-tablet">
            <picture data-aos="zoom-in-down" data-aos-duration="1500">
                <source srcset="/images/about/cow_and_milk@1x.png 1x, /images/about/cow_and_milk@1x.png 2x" />
                <img class="about__img" src="#" alt="cow" />
            </picture>

            <div class="">
                <p class="about__black-text" data-aos="fade-down" data-aos-duration="1500">Fusce ut velit
                    laoreet,
                    tempus arcu eu, molestie tortor. Nam vel justo
                    cursus, faucibus
                    lorem eget, egestas eros.
                    Maecenas eleifend erat at justo fringilla.</p>

                <p class="about__gray-text" data-aos="fade-up" data-aos-duration="1500">Curabitur lacinia enim
                    at ex
                    blandit, vel pellentesque odio elementum.
                    Mauris rhoncus
                    orci
                    in imperdiet placerat.
                    Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa
                    nibh,<br>
                    tincidunt.</p>

                <p class="about__gray-text-bottom"> Aliquam erat volutpat. Aenean accumsan. </p>



                <button type="button" class="about-btn" data-about-modal-open data-aos="fade-up">

                    <span class="about-btn__text">Read more</span>
                    <svg class="about-btn__vector" height="10" width="7">

                        <use href="/images/about/read_more_images-2.svg#icon-Read_more"></use>
                    </svg>
            </div>
        </div>

        </button>
    </div>
</section>