<div class="backdrop is-hidden">
  <div class="about-modal" data-about-modal>
    <p class="about-modal__text">
      Ice Cream is a favourite food of millions around the world. It is a frozen mixture of a
      combination of component of milk, sweeteners, stabilizers, emulsifiers and flavours. Ice cream
      is a palatable, nutritious and relatively inexpensive food. No other food enjoys so much
      popularity and has as attractive a form and appeal as ice cream.
    </p>
    <img
      class="about-tech"
      src="./images/about-tech.jpg"
      width="250"
      height="180"
      alt="Prepaire ice cream"
    />
    <button class="about-modal-btn" type="button" data-about-modal-close>Close</button>
  </div>
</div>
