<section class="customer">
    <div class="container">
        <h2 class="visually-hidden">Отзывы клиентов</h2>
    <div class="customer-wrapper">
        <div class="customer-item">
            <img class="customer-item__photo"
            srcset="./images/customers/testimonials1.png 1x, 
                    ./images/customers/testimonials1-2x.png 2x"
            src="./images/customers/testimonials1.png" alt="темнокожая девушка" />
            <div class="customer-card">
            <p class="customer-card__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                congue. Lorem ipsum primis in nibh vel risus.
            </p>
            </div>
            <div class="customer-marker">
            <span class="customer-marker__circle"></span>
            <span class="customer-marker__circle"></span>
            <span class="customer-marker__circle"></span>
            </div>
            <p class="customer-item__location">Emily, Los Angeles</p>
        </div>
        <div class="customer-item">
            <img class="customer-item__photo"
             srcset="./images/customers/testimonials2.png 1x, 
                            ./images/customers/testimonials2-2x.png 2x" 
            src="./images/customers/testimonials2.png" alt="темнокожая девушка" />
            <div class="customer-card">
                <p class="customer-card__text">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc,
                    accumsan
                    congue. Lorem ipsum primis in nibh vel risus.
                </p>
            </div>
            <p class="customer-item__location">Grace, San Francisco</p>
        </div>
        <div class="customer-item">
            <img class="customer-item__photo" 
            srcset="./images/customers/testimonials3.png 1x, 
                    ./images/customers/testimonials3-2x.png 2x" 
            src="./images/customers/testimonials3.png" alt="темнокожая девушка" />
            <div class="customer-card">
                <p class="customer-card__text">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc,
                    accumsan
                    congue. Lorem ipsum primis in nibh vel risus.
                </p>
            </div>
            <div class="customer-marker">
                <span class="customer-marker__circle"></span>
                <span class="customer-marker__circle"></span>
                <span class="customer-marker__circle"></span>
            </div>
            <p class="customer-item__location">Samanta, New York</p>
        </div>
    </div>
    </div>
</section>