<footer>
  <div class="container">
    <p class="footer-second-title">homemade ice cream made</p>
    <p class="footer-title">with passion</p>
    <ul class="social">
      <li class="social__item">
        <a class="social__link" href="/">
          <svg class="social__icon" width="19" height="19">
            <use href="./images/sprite.svg#twitter"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a class="social__link" href="/">
          <svg class="social__icon" width="19" height="15">
            <use href="./images/sprite.svg#telegram"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a class="social__link" href="/">
          <svg class="social__icon" width="9" height="19">
            <use href="./images/sprite.svg#facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>
