<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-title">
        <p class="footer-title__second-text">homemade ice cream made</p>
        <p class="footer-title__text">with passion</p>
      </div>
      <div class="footer-contacts">
        <ul class="social">
          <li class="social__item">
            <a class="social__link" href="http://twitter.com" target="_blank" rel="nofollow">
              <svg class="social__icon" width="19" height="19">
                <use href="./images/icon-sprite.svg#twitter"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="http://web.telegram.org" target="_blank" rel="nofollow">
              <svg class="social__icon" width="19" height="15">
                <use href="./images/icon-sprite.svg#telegram"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="http://facebook.com" target="_blank" rel="nofollow">
              <svg class="social__icon" width="9" height="19">
                <use href="./images/icon-sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <div class="number">
          <span class="number__text">Feel free to contact</span>
          <a class="number__tel" href="tel:+610383766284">+61 (0) 383 766 284</a>
        </div>
      </div>
    </div>
  </div>
  <span class="border-bottom"></span>
  <p class="copyright"><span>&copy</span> 2019 - IceCream. All Rights Reserved.</p>
</footer>
