<section class="header-hero-section">
  <header class="page-header">
    <nav class="container main-nav">
      <a href="" class="logo-header">
        <picture>
          <source
            srcset="./images/logo.png 1x, ./images/logo@2x.png 2x"
            media="(min-width:320px)"
          />
          <img class="logo" src="./images/logo.png" alt="логотип сайта" width="199" height="50" />
        </picture>
      </a>
      <ul class="main-nav__list list">
        <li class="main-nav__item"><a href="#home">Home</a></li>
        <li class="main-nav__item"><a href="#about">About us</a></li>
        <li class="main-nav__item"><a href="#how">How it’s made?</a></li>
        <li class="main-nav__item"><a href="#our">Our products</a></li>
        <li class="main-nav__item"><a href="#contact">Contact</a></li>
      </ul>
      <button type="button" class="buy-now-button">Buy now</button>
      <button type="button" class="menu-open"><span class="burger"></span></button>
    </nav>
    <div class="mob-menu is-hidden">
      <div class="containera">
        <button type="button" class="menu-close"><span class="cross"></span></button>
        <button type="button" class="mob-menu__buy-now-button">Buy now</button>
        <ul class="mob-menu-list list">
          <li class="mob-menu__item"><a href="#home">Home</a></li>
          <li class="mob-menu__item"><a href="#about">About us</a></li>
          <li class="mob-menu__item"><a href="#how">How it’s made?</a></li>
          <li class="mob-menu__item"><a href="#our">Our products</a></li>
          <li class="mob-menu__item"><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </header>
</section>
